.shadow{
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.10);
}

.shadow-bold{
    box-shadow: 0px 0px 20px rgba(0, 0, 0);
}

.form-check-input:checked {
    background-color: #59BDCB;
    border-color: #59BDCB;
}

.form-check-input:focus {
    border-color: #8fdae4;

    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(89 189 203 / 25%);
}

.btn-BrancoGelo:hover{
    background-color: #F8B62D;
    border: 1px solid #F8B62D;
}

.form-select:focus {
    border-color: #8fdae4;

    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(89 189 203 / 25%);
}

.form-control{
    font-size: 20px;
    color: #423F3D;
}

.form-select{
    font-size: 16px;
    color: #423F3D;
}
.form-control:focus {
    color: #212529;
    /* background-color: #fff; */
    border-color: #8fdae4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(89 189 203 / 25%);
}

.form-floating label{
    color:#9B9D93;
}
/* img */

.size-3{
    width: 25px;
}

.size-logo-app{
    width: 200px;
}
.size-logo-app-small{
    width: 150px;
}

.img-logo-aplication-login{
    width: 300px;
}

.img-vw-col-100{
    width: 100%;
}

.view_category{
    max-width: 300px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.view_icon_category{

    width: 80px;
    height: 80px;
    object-fit: cover;
/*     background-color: white;
    border: 3px solid #f1ebe1; */
}

.img-product{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
@media screen and (max-width: 765px){
.img-product{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
}

.view_icon_category-home{

    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 7px;
}

.img-app-movel{
    width: 80%;
}

.slick-prev:before, .slick-next:before {
    color: #F8B62D !important;
}
.slick-dots li button:before {
    color: #F8B62D !important;
}

.icon-button-photo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.anchor-pointer{
    cursor: pointer;
}

.icon-button-photo:hover{
opacity: .7;
}


/* DropDown */

.dropdown-item:hover{
    background-color: transparent;
    color: #F8B62D;
    transition: 0.3s;
}

/* margin */

.mr-1{
    margin-right: 0.5rem;
}
.ml-1{
    margin-left: 0.5rem;
}
.mr-2{
    margin-right: 0.5rem;}
.mr-3{
    margin-right: 1rem;
}
.mr-4{
    margin-right: 1.5rem;
}

.pl-1{
    padding-left: 00.25rem;
}
.pr-1{
    padding-right: 00.25rem;
}
.pl-3{
    padding-left: 1rem;
}
.pr-3{
    padding-right: 1rem;
}


/* Hover */

.h-link:hover{
    opacity: 0.9;
}
.h-product{
    background: white;
}
.h-product:hover{
    background-color:hsl(40, 100%, 90%);
    transition: 0.3s;
    transform: scale(1.01);
}
.h-tab{
    background-color:hsl(40, 100%, 90%);
}
.payment-active{
    background-color:hsl(40, 100%, 90%);
}

/* text-color */

.text-danger{
   color: #dc3545;
}

/* adm layout */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* nav-link */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000 !important;
    background-color: #59BDCB;
}

.b-example-divider {
  height: 3rem;
}

.b-example-vr {
  flex-shrink: 0;
  width: calc(100% - 280px);
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* footer */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: #f8f8f7;
    border-width: 1px 0;
  }

  .b-example-vr {
    flex-shrink: 0;
    width: calc(100% - 280px);
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }


/* table */
.body{
    display: grid;
    justify-content: center;
    align-items: center;
}

table{
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.30);
    background-color: white;
    text-align: left;
    overflow: hidden;

}
thead{
    box-shadow: 0 5px 10px rgba(128, 128, 128, 0.10);
    background-color: #495057;
    color:white;
    font-size: 12px;
}
th{
    padding: 1rem 2rem;
    text-transform:uppercase;
    letter-spacing:0.1rem;

}
td{
    padding: 1rem 2rem;
    color:#01224d;

}

/* end table */


.icon-loja-inicio{
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-color: white;
    border: 3px solid #f1ebe1;
    border-radius: 50%;
    }
    .rating-star-icon{
    width: 17px;
    margin-bottom: 2px;
    margin-right: 2px
    }

    .was-validated .form-control:valid, .form-control.is-warning {
        border-color: #dbc500;
        padding-right: calc(1.5em + 0.75rem);
        background-image: url("../img/download\ \(25\).svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        font-weight: 600;
        background-color: #F8B62D;
        border-color: #F8B62D;
    }
    .page-link {
        position: relative;
        display: block;
        color: #423F3D;
        font-weight: 600;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #dee2e6;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .page-link:hover {
        z-index: 2;
        color: #423F3D;
        font-weight: 600;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
        color: #423F3D;
        font-weight: 700;
    }
    .nav-tabs .nav-link {
        color: #423F3D;
    }


    /* Style Store */
    .banner-store{
        width: 100%;
        height: /* 275px */ 500px;

        object-fit: cover;
        border-radius: 7px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);

    }
    .logo-store{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .icon{
        height: 30px;
    }
    .icon:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .caroussel{
        opacity: 0.92;

    }
    .caroussel:hover{
        opacity: 1;

    }
    .price{
        font-size: 15px;
    }

    .promotion{
        font-size: 18px
    }
    /* End style store */

    .btn-check:focus + .btn, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(8, 199, 212, 0.25);
    }

